@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

html,
body{
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body{
    font-family: "Libertinus Serif",serif;
     background-color: #b5dfbe;
    /*simple background = poory page par same color, jab ky gradient means transition from one color to another.to right, bottom deg main diagonal ki traf color change hota hai*/
    text-align: center;
    position: relative;
   overflow-x: hidden;
}

.footer{
    background-color: #7d88b9;
     text-align: center;
     margin-top: 39px;
     padding: 10px 10px;
}

.footer-components h3{
    margin-bottom: 5px;
}

.footer-components p{
    margin-bottom: 5px;
}



.footer-components p{
    margin-bottom: 5px;
}

a{/* anchor tag is by default block or inblock*/
    color:#1b4332 ;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s ease;
}

a:hover{
   color:   #143d2c;
   opacity: 0.85;
  text-decoration: underline;
}